#box-container {
  text-align: center;
}
.box-style {
  width: 200px;
  height: 200px;
  border: 2px solid #d3dedc;
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
  padding-top: 12px;
  font-weight: bold;
}
.box-style-2 {
  display: block;
  margin: 20px auto;
}
